

body {
    color: var(--color-primary);
    background-color: var(--background-color-primary);
    font-family: var(--font-family-primary);
    font-weight: 400;
    font-size: 18px;
}


.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.link { display: block;
    text-decoration: none;
}