
:root {
    --color-primary: #1f1f1f;
    --color-active: #ed553b;
    --color-secondary: #585858;
    --color-white: #ffffff;

    --font-family-primary: 'Poppins', sans-serif;
    --font-family-secondary: 'Montserrat', sans-serif;
    --font-family-tertiary: 'Inter', sans-serif;
    --font-family-details: 'Lato', sans-serif;

    --background-image-hero: linear-gradient( to right, rgba(111,58,27,0.07), rgba(255,255,255,1));
    --background-color-button: #ed553b;
    --background-color-button-active: #ffffff;
    --background-color-primary: #ffffff;
    --background-color-section: #f8f6f5;
    --background-color-header: #1f1f1f;
    --color-border: #ed553b;
    
}